/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
settings.xml
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.DS_Store

# Dependency caches
/.cpcache/
/.m2/

#dev
.calva
.lsp
.vscode
.clj-kondo
*.iml
/.idea/

#hidden test files
/test/stripe_clojure/unit/